<section id="about" class="m-about">
  <nav class="m-nav">
    <a href="#work">
      Work I've done.
    </a>

    <a href="#about">
      Get to know me.
    </a>

    <a href="#resume">
      Check my resume.
    </a>
  </nav>

  <div class="m-container">
    <h2 class="m-about__title reveal reveal--fade reveal--up">A thing or 2 about me.</h2>
    <div class="m-about__content reveal reveal--up reveal--fade reveal--200">

      <h4>A brief summary</h4>

      <p>
        I am a Front-end Developer that structures his HTML through BEM, writes his styles in SCSS and stores his code in GitHub / GitLab.
      </p>

      <p>
        I'm working with Wordpress, Structured Data, SCSS, GIT, JavaScript on a daily base and plays around with React in his free time.
      </p>

      <h4>Professional</h4>

      <p>
        At this moment I work for Super Interactive, based in Amsterdam the Netherlands. Together with Super Interactive I focus on custom made WordPress themes for clients like GVB, Makelaarsland and Het Financieele dagblad.
      </p>

      <p>
        Some of the tools we use within the company are: Gulp / Yarn to manage our node modules, GitLab / GitHub to store our code, and Composer to install our WordPress systems.
      </p>

      <p>
        As my current job focusses on Wordpress and PHP, I have to play around with ReactJS in my free time. At the moment I'm working on a Fitness app made with React, Node and MongoDB, to keep a log of my personal fitness progress.
      </p>
      
      
      <h4>Free time</h4>

      <p>
        My free time mostly consists out working out. After a whole day in the office I find it relaxing to workout, also it helps to keep my head clear and regenerate for the next day.
      </p>

      <p>
        One of my biggest passions is horology. If you think about it's truly an amazing piece of art, all with their own style and story. My dream is one day to own the Omega Speedmaster Professional. A man can dream.
      </p>

    </div>
  </div>
</section>