<header class="m-lead">
  <nav class="m-nav">
    <a href="#work">
      Work I've done.
    </a>

    <a href="#about">
      Get to know me.
    </a>

    <a href="#resume">
      Check my resume.
    </a>
  </nav>

  <div class="m-container">
    <span class="m-lead__logo">D.E</span>
  </div>


  <div class="m-container">
    <h1 class="m-lead__title reveal reveal--up reveal--fade">Hello there kind stranger<span>.</span></h1>
    <p class="reveal reveal--up reveal--fade reveal--200">
      My name is <strong>Diederik Eenschooten</strong> and I am a <strong>Front-end Developer</strong>, based in the Netherlands.
    </p>

    <p class="reveal reveal--up reveal--fade reveal--300">At this very moment I work at <a href="https://www.secfi.com">Secfi</a>. A product based in Amsterdam.</p>
  </div>
</header>