<section id="work" class="m-work">
  <nav class="m-nav">
    <a href="#work">
      Work I've done.
    </a>

    <a href="#about">
      Get to know me.
    </a>

    <a href="#resume">
      Check my resume.
    </a>
  </nav>

  <div class="m-container">
    <h2 class="m-work__title reveal reveal--fade reveal--up">Things I've created</h2>
    <p class="m-work__intro reveal reveal--fade reveal--up reveal--100">
      A small overview of projects I've been working on over the past few years.
    </p>

    <ul class="m-work__list">
      <li class="reveal reveal--up reveal--fade reveal--200">
        <a href="https://interim.emerce.nl/">Emerce Interim</a>

        <p>A freelance platform<span>.</span></p>
      </li>
      <li class="reveal reveal--up reveal--fade reveal--300">
        <a href="https://verdieping.d66.nl/thema/d66-is-voor-europa/">D66 Theme pages</a>
        <p>Theme pages for political views<span>.</span></p>
      </li>
      <li class="reveal reveal--up reveal--fade reveal--300">
        <a href="https://green-village.nl">Green-Village</a>
        <p>Relaxed conference environments<span>.</span></p>
      </li>
    </ul>
  </div>
</section>