/*
  * Global styles
*/

*{
  box-sizing: border-box; 
}

html {
  background-color: #f9fdff;
}

body{
  font-size: 16px;
  -webkit-font-smoothing: antialiased;

  &.no-overflow {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}

//  Avoid faux bold on headers
h1,
h2,
h3,
h4,
h5,
h6{
  @include TitleBold;

  span {
    color: $primary-color;
  }
}

p{
  font-weight: 300;

  @include BodyRegular;

  strong {

    @include BodySemiBold;
  }
}

a{
  transition: $s-fast color $cubic;
}